.App {
  // text-align: center;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.header {
  .headerLeft {
    display: flex;
    align-items: center;

    .headerIcon {
      width: 80px;
      height: 40px;
      cursor: pointer;
    }

    a > span {
      margin: 0 30px;
      font-size: 1.3rem;
      cursor: pointer;
      color: white;
    }

    a > span:hover {
      color: rgb(234, 255, 0);
    }
  }
}

.home {
  .poster {
    .posterImage {
      height: 600px;
    }

    .posterImage > img {
      margin: auto;
      display: block;
      width: 100%;
    }

    .posterImage_overlay {
      position: absolute;
      padding: 5rem;
      bottom: 0px;
      height: 70%;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: flex-end;
      align-items: flex-start;
      background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
      opacity: 0;
      transition: opacity 0.3s;

      .posterImage_title {
        font-weight: 900;
        font-size: 4rem;
        margin-bottom: 0.4rem;
        text-align: left;
      }

      .posterImage_runtime {
        font-size: 2rem;
        margin-bottom: 1rem;

        .postImage_rating {
          margin-left: 3rem;
        }
      }

      .posterImage_description {
        font-style: italic;
        font-size: 1rem;
        margin-bottom: 0.25rem;
        display: flex;
        text-align: left;
        width: 50%;
      }
    }

    .posterImage_overlay:hover {
      opacity: 1;
    }
  }
}

// .cards_img {
//   // background-position: center;
//   // background-size: contain;
//   object-fit: cover;
//   height: 100px;
//   width: 100px;
// }
.cards {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  width: 200px;
  height: 300px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
  // object-fit: contain;

  .cards_img {
    // background-position: center;
    // background-size: contain;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .cards_overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 290px;
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    opacity: 0;
    transition: opacity 0.2s;
    // color: red;

    .cards_title {
      font-weight: 900;
      font-size: 1rem;
      margin-bottom: 0.4rem;
      // color: rgb(81, 0, 255);
    }

    .cards_runtime {
      font-size: 0.75rem;
      margin-bottom: 0.25rem;
      // padding: 1rem;

      .card_rating {
        float: right;
        // margin-left: 5rem;
      }
    }
  }

  .cards_overlay:hover {
    opacity: 1;
  }

  .cards_description {
    font-style: italic;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }
}

.cards:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.movie_list {
  padding: 0 3rem 3rem 3rem;

  .list_title {
    font-size: 1.75rem;
    margin: 2.5rem;
  }

  .list_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.movieDetail {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .movie_intro {
    width: 80%;

    .movie_backdrop {
      width: 100%;
      height: 500px;
      object-fit: cover;
      object-position: 0 35%;
    }
  }

  .movie_detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 225px;

    .movie_detailLeft {
      margin-right: 30px;

      .movie_poster {
        width: 300px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
      }
    }

    .movie_detailRight {
      color: white;
      display: flex;
      flex-direction: column;
      height: 450px;
      justify-content: space-between;

      .movie_detailRightTop > div {
        text-shadow: 0px 0px 5px #000000;
        margin-bottom: 0.5rem;
      }

      .movie_detailRightTop {
        .movie_name {
          font-weight: 600;
          font-size: 3rem;
        }

        .movie_voteCount {
          margin-left: 1rem;
        }

        .movie_genres {
          margin: 1.25rem 0;

          .movie_genre {
            padding: 0.5rem;
            border: 2px solid white;
            border-radius: 20px;
            margin-right: 1rem;
          }
        }
      }

      .movie_detailRightBottom {
        margin: 2rem 0;
        flex: 0.8;

        .synopsisText {
          font-size: 1.5rem;
          margin-bottom: 1.25rem;
          font-weight: 600;
          display: flex;
          position: relative;
          align-items: center;
        }
        .synopsisText > div:last-of-type {
          margin-left: auto;
        }
      }
    }
  }

  .movie_links {
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: space-between;
    width: 75%;

    .movie_heading {
      font-size: 2.2rem;
    }

    .movie_homeButton {
      background-color: rgb(255, 0, 0);
    }

    .movie_Button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem 2rem;
      border-radius: 20px;
      cursor: pointer;
      width: 150px;
      color: black;
      font-weight: bold;
    }

    .movie_imdbButton {
      background-color: #f3ce13;

      .newTab {
        margin-left: 1.4rem;
      }
    }
  }

  .movie_production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;

    .productionCompanyImage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .movie_productionComapany {
        width: 200px;
        margin: 2rem;
      }
    }
  }
}
